html {
  scroll-behavior: smooth;
} 

body {
  max-width: 380px;
  margin: auto;
  background: #FFFFFF;
  text-align: center;
  font-family: 'Quattrocento', serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/background_header.png);
  background-size: cover;
  border-top: 8px solid #7DB96F;
}

header a,
footer a {
  text-decoration: none;
}

h {
  font-family: 'Maven Pro', sans-serif;
}

h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
}

footer {
  color: #7DB96F;
  margin-bottom: 45px;
}

footer p {
  font-size: 13px;
  margin: 35px 0 35px 0;
}

footer a {
  color: #FFFFFF;
  background: #7DB96F;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.box-title {
  background: #ffffffe6;
  margin: 30px;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.cta {
  background: #7DB96F;
  color: #FFFFFF;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 17px;
}

.cta-light {
  background: #FFFFFF;
  color: #7DB96F;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 17px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-light {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 65px;
  padding-right: 65px;
}

.icons {
  height: 27px;
  width: 27px;
}

.section-dark {
  background: #7DB96F;
  color: #FFFFFF;
}

.card {
  background: #FCF7D6;
  color: #000000;
  margin: 30px;
  border-radius: 15px;
  padding: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
}

main img {
  max-width: 40%;
}